
.menu li:first-child {
    background:green;
    font-weight:bold;
    font-family:arial black;
    font-size:200%;
    
    border-color: #fff;
    border-width: 2px;
    border-style: solid;
    box-shadow: 0 0 2px 1px #aaa;
}
.menu li {
position:absolute
  
    color:#fff;
    font-size:15px;
}
.menu a{
    text-decoration: none;
     color:#AEF0ED;

	position:absolute;

	}



.menu{position:absolute;}


#menu13{
    top:135px;
    right:4px;
}