#contactul {
				list-style: none;
				padding: 0;
				margin: 0 auto;
				width: 70em;
				height: 27em;
			}
			#contactul li {
				height: 10em;
				width: 30em;
				cursor: pointer;
			}
			#contactul li.roundabout-in-focus {
					cursor: default;
			}
			#contactul li div {
				display: block;
				padding: 0.25em;
				height: 15em;
				width: 30em;
				border-radius:10px;
				text-align:top;
				color:#000000;
				font-family:comic sans ms
			}
			#a{
				background-color:#009999;
				
			}
			#b{
				background-color:#7A3D5C;
			}
			#c{
				background-color:#CC3300;
			}
			#d{
				background-color:#6B8FB2;
			}
			#e{
				background-color:#B2B200;
			}
			#f{
				background-color:#A30000;
			}
			#g{
				background-color:#305930;
			}
			#h{
				background-color:#CC0052;
			}
			#i{
				background-color:#660033;
			}		

.interact {
	border-top: 1px solid #ccc;
	margin-top: 3em;
	margin-bottom: 4em;
	padding-top: 1.5em;
	text-align: center;
}

.interact a {
	background-color: #2179b6;
	border-bottom: 1px solid #084d7d;
	color: #eee;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Arial, sans-serif;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	text-decoration: none;
	padding: 8px 14px;
	margin: 0 1em;
}

	.interact p {
		font-style: italic;
		color: #666;
	}

.return {
	font-size: 1.5em;
	text-align: center;
}
	.return a {
		color: #2179b6;
		text-decoration: none;
	}
	.return a:hover {
		text-decoration: underline;
	}